body {
  background-color: black;
  text-align: center;
}

button {
  padding: .5em 2em;
}

/*canvas {*/
/*    padding-left: 0;*/
/*    padding-right: 0;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    display: block;*/
/*}*/

.left_box {
  position: absolute;
  	top:0;
	bottom: 0;
	left: 0;
	right: 1000px;
	margin: auto;
}

.right_box {
  perspective: 1000px;
  position: absolute;
  	top:0;
	bottom: 0;
	left: 1000px;
	right: 0;
	margin: auto;
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateZ(60deg);
}

/* 3D Cube */
.space3d {
  perspective: 1000px;
  width: 264px;
  height: 264px;
  text-align: center;
  display: inline-block;

  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

._3dbox {
  display: inline-block;
  /*transition: all 1s cubic-bezier(.72,-0.04,.71,.92);*/
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

/*._3dboxY {*/
/*  */
/*}*/


._3dface {
  overflow: hidden;
  position: absolute;
  /*border: 1px solid #888;*/
  background: #FFF;
  /*box-shadow: 0 0 5px deeppink, 0 0 50px hotpink;*/
  color: #333;
  line-height: 264px;
  opacity: .5;
  transition: opacity 3s cubic-bezier(.01,.56,.99,.55),
  width 3s cubic-bezier(.01,.56,.99,.55),
  height 3s cubic-bezier(.01,.56,.99,.55);
}



._3dface--front {
  /*animation: orbit 5s infinite linear;*/
  opacity: 0;
  width: 0;
  height: 0;
  transform: translate3d(0, 0, 132px);
}

._3dface--top {
  width: 264px;
  height: 264px;
  transform: rotateX(90deg) translate3d(0, 0, 132px) rotateZ(180deg) scale(1, 6);
}

._3dface--bottom {
  width: 264px;
  height: 264px;
  transform: rotateX(-90deg) translate3d(0, 0, 132px) scale(1, 6);
}

._3dface--left {
  width: 264px;
  height: 264px;
  left: 50%;
  margin-left: -132px;
  transform: rotateY(-90deg) translate3d(0, 0, 132px) rotateZ(90deg) scale(1, 6);
}

._3dface--right {
  width: 264px;
  height: 264px;
  left: 50%;
  margin-left: -132px;
  transform: rotateY(90deg) translate3d(0, 0, 132px) rotateZ(-90deg) scale(1, 6);
}

._3dface--back {
  width: 264px;
  height: 264px;
  transform: rotateY(180deg) translate3d(0, 0, 132px);
}

/*#radio-left:checked ~ .space3d ._3dbox {*/
/*  transform: rotateY(90deg);*/
/*}*/

/*#radio-right:checked ~ .space3d ._3dbox {*/
/*  transform: rotateY(-90deg);*/
/*}*/

/*#radio-bottom:checked ~ .space3d ._3dbox {*/
/*  transform: rotateX(90deg);*/
/*}*/

/*#radio-top:checked ~ .space3d ._3dbox {*/
/*  transform: rotateX(-90deg);*/
/*}*/

/*#radio-back:checked ~ .space3d ._3dbox {*/
/*  transform: rotateY(180deg);*/
/*}*/

._3dface--front {
  background-image: url('../static/images/qr.png');
  background-size: auto 100%;
}

._3dface--left {
  background-image: url('../static/images/qr.png');
  background-size: auto 100%;
}

._3dface--right {
  background-image: url('../static/images/qr.png');
  background-size: auto 100%;
}

._3dface--top {
  background-image: url('../static/images/qr.png');
  background-size: auto 100%;
}

._3dface--bottom {
  background-image: url('../static/images/qr.png');
  background-size: auto 100%;
}

._3dface--back {
  background-image: url('../static/images/qr.png');
  background-size: auto 100%;
}