<html>
<head>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='imgcube.css') }}"/>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='imgcube.css') }}"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

</head>


<!--    <input type="radio" checked id="radio-front" name="select-face"/>-->
<!--    <input type="radio" id="radio-left" name="select-face"/>-->
<!--    <input type="radio" id="radio-right" name="select-face"/>-->
<!--    <input type="radio" id="radio-top" name="select-face"/>-->
<!--    <input type="radio" id="radio-bottom" name="select-face"/>-->
<!--    <input type="radio" id="radio-back" name="select-face"/>-->


<div class="separator"></div>
<div class="space3d" id="space3d">
    <div class="_3dbox" id="_3dbox">

        <div class="_3dface _3dface--front" id="3dface--front">
            <canvas id="front_canv" height="264" width="264"></canvas>
        </div>

        <div class="_3dface _3dface--top" id="3dface--top">
            <canvas id="top_canv" height="264" width="264"></canvas>
        </div>

        <div class="_3dface _3dface--bottom" id="3dface--bottom">
            <canvas id="bottom_canv" height="264" width="264"></canvas>
        </div>

        <div class="_3dface _3dface--left" id="3dface--left">
            <canvas id="left_canv" height="264" width="264"></canvas>
        </div>

        <div class="_3dface _3dface--right" id="3dface--right">
            <canvas id="right_canv" height="264" width="264"></canvas>
        </div>

        <div class="_3dface _3dface--back" id="3dface--back">
            <canvas id="back_canv" height="264" width="264"></canvas>
        </div>
    </div>
</div>


<body>

<pre id="log"></pre>

<button type="button" id="newScan">newScan</button>
<button type="button" id="pumpyBoi">pumpyBoi</button>
<button type="button" id="scanSuccess">scanSuccess</button>
<button type="button" id="scanFail">scanFail</button>

<!--<canvas id="canv" height="800" width="940"></canvas>-->
<!--<div class="left_box" id="left_box">-->
<!--    <canvas id="left_canv" height="1200" width="250"></canvas>-->
<!--</div>-->
<!--<div class="right_box" id="right_box">-->
<!--    <canvas id="right_canv" height="1200" width="250"></canvas>-->
<!--</div>-->



<script>

    //

    document.addEventListener('DOMContentLoaded', () => {
        scanFailButton.innerText = 'wat'
        namespace = '/test'
        console.log('DomContentLoaded')
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

        socket.on('connect', function() {
            socket.emit('visitor_connected')
        })

        socket.on('new_qr', function(msg){
            var path = 'url(../static/images/' + msg.filename + ')'
            scanFailButton.innerText = msg.filename;
            faceElements.forEach(face => {
                    face.style.backgroundImage = path;
                }
            )
            newScan();
        })

        socket.on('scan_success', function() {
            scan_success();
        })
    });


    var scanFailButton = document.getElementById('scanFail')

    var qrbox = document.getElementById("_3dbox")
    var newScanButton = document.getElementById('newScan');
    var scanSuccessButton = document.getElementById('scanSuccess')
    var pumpyBoiButton = document.getElementById('pumpyBoi')

    var faces = ["3dface--front", "3dface--top", "3dface--bottom",
        "3dface--left", "3dface--right", "3dface--back"]

    var canvasses = ["front_canv", "top_canv", "bottom_canv",
    "left_canv", "right_canv", "back_canv"]

    var faceElements = []
    var canvasElements = []
    for (i = 0; i < faces.length; i++) {
        faceElements.push(document.getElementById(faces[i]))
        canvasElements.push(document.getElementById(canvasses[i]))
    }



    // === rotating paths ======================================================
    var updateQr = true;
    var rotatingQRPaths = ['url(../static/images/qr1.png)',
                           'url(../static/images/qr2.png)']
    var counter = 0;

    // window.setInterval(function() {
    //     var path;
    //     if (updateQr) {
    //         path = rotatingQRPaths[counter % rotatingQRPaths.length]
    //         faceElements.forEach(face => {
    //                 face.style.backgroundImage = path;
    //             }
    //         )
    //         counter += 1
    //         if (counter === Number.MAX_SAFE_INTEGER) {
    //             counter = 0
    //         }
    //     }
    // }, 500)
    // =========================================================================

    // window.setInterval(function () {
    //     updateQr = !updateQr;
    // }, 10000)


    function rotate3dTranslate3d(element,
                                 rotstart_x, rotstart_y, rotstart_z,
                                 trastart_x, trastart_y, trastart_z,
                                 rottarget_x, rottarget_y, rottarget_z,
                                 tratarget_x, tratarget_y, tratarget_z,
                                 fill = "forwards",
                                 iterations = 1,
                                 timing_function = "cubic-bezier(.03,1.06,1,.29)",
                                 duration = 10000,
                                 delay = 0) {


        var animation = element.animate([
                {
                    transform:
                        `rotateX(${rotstart_x}deg) rotateY(${rotstart_y}deg) rotateZ(${rotstart_z}deg)
             translate3d(${trastart_x}px, ${trastart_y}px, ${trastart_z}px)
            `
                },
                {
                    transform:
                        `rotateX(${rottarget_x}deg) rotateY(${rottarget_y}deg) rotateZ(${rottarget_z}deg)
             translate3d(${tratarget_x}px, ${tratarget_y}px, ${tratarget_z}px)
            `
                }],

            {
                fill: fill,
                iterations: iterations,
                easing: timing_function,
                duration: duration,
                delay: delay
            });

        return animation;
    }

    function newScan() {
        // var rotate = 360;
        var displace_px = Math.floor(80 + 132)
        var displaceTimingFunction = "cubic-bezier(.62,.01,.67,1.02)"
        var displaceDuration = 3000
        for (i = 0; i < faceElements.length; i++) {
            face = faceElements[i];
            // setOpacityWidthHeight(face, 1, 132, 132)
            switch (i) {
                case 0:
                    var afront = rotate3dTranslate3d(face,
                        0, 180, 0,
                        0, 0, 0,
                        360, 0, 360,
                        0, 0, 202,
                        fill = "forwards",
                        iterations = 1,
                        timing_function = displaceTimingFunction,
                        duration = displaceDuration,
                        delay = 0)
                    face.style.opacity = 1;
                    face.style.width = "264px"
                    face.style.height = "264px"
                    break

                case 1:
                    var atop = rotate3dTranslate3d(face,
                        90, 0, 0,
                        0, 0, 132,
                        120, 0, 0,
                        0, 0, 202,
                        fill = "forwards",
                        iterations = 1,
                        timing_function = displaceTimingFunction,
                        duration = displaceDuration,
                        delay = 0)
                    var animation = rotate3dTranslate3d(face,
                        120, 0, 0,
                        0, 0, 202,
                        120, 0, -18000,
                        0, 0, 202,
                        fill = "none", iterations = 1, timing_function = "cubic-bezier(.91,-0.01,.86,1.18)",
                        duration = 20000, delay = 3000)
                    break

                case 2:
                    var abottom = rotate3dTranslate3d(face,
                        -90, 0, 0,
                        0, 0, 132,
                        -120, 0, 0,
                        0, 0, 202,
                        fill = "forwards", iterations = 1, timing_function = displaceTimingFunction, duration = displaceDuration,
                        delay = 0)
                    var animation = rotate3dTranslate3d(face,
                        -120, 0, 0,
                        0, 0, 202,
                        -120, 0, -18000,
                        0, 0, 202,
                        fill = "none", iterations = 1, timing_function = "cubic-bezier(.91,-0.01,.86,1.18)",
                        duration = 20000, delay = 3000)

                    break

                case 3:
                    var aleft = rotate3dTranslate3d(face,
                        0, -90, 0,
                        0, 0, 132,
                        0, -120, 0,
                        0, 0, 202, fill = "forwards", iterations = 1, timing_function = displaceTimingFunction, duration = displaceDuration,
                        delay = 0)
                    var animation = rotate3dTranslate3d(face,
                        0, -120, 0,
                        0, 0, 202,
                        0, -120, -18000,
                        0, 0, 202,
                        fill = "none", iterations = 1, timing_function = "cubic-bezier(.91,-0.01,.86,1.18)",
                        duration = 20000, delay = 3000)
                    // animation.updatePlaybackRate(2)
                    break

                case 4:
                    var aright = rotate3dTranslate3d(face,
                        0, 90, 0,
                        0, 0, 132,
                        0, 120, 0,
                        0, 0, 202, fill = "forwards", iterations = 1, timing_function = displaceTimingFunction,
                        duration = displaceDuration, delay = 0)
                    var animation = rotate3dTranslate3d(face,
                        0, 120, 0,
                        0, 0, 202,
                        0, 120, -18000,
                        0, 0, 202,
                        fill = "none", iterations = 1, timing_function = "cubic-bezier(.91,-0.01,.86,1.18)",
                        duration = 20000, delay = 3000)

                    break

                case 5:
                    var aback = rotate3dTranslate3d(face,
                        0, 180, 0,
                        0, 0, 132,
                        0, 180, 0,
                        0, 0, 202, fill = "forwards", iterations = 1,
                        timing_function = displaceTimingFunction,
                        duration = displaceDuration,
                        delay = 0)
            }
            rotate3dTranslate3d(qrbox,
                0, 0, 0,
                0, 0, 0,
                360, 0, 720,
                0, 0, 0,
                fill = "forwards", iterations = 1, timing_function = displaceTimingFunction, duration = displaceDuration,
                delay = 0
            )
        }
    }

    function scan_success() {
        face = faceElements[i];
        anim1 = rotate3dTranslate3d(qrbox,
            0, 0, 0,
            0, 0, 0,
            0, 0, 54000,
            0, 0, 0,
            fill = "forwards", iterations = 1,
            timing_function = "cubic-bezier(.44,.08,1,.64)",
            duration = 15000,
            delay = 0
        )
        anim15 = rotate3dTranslate3d(qrbox,
            0, 0, 0,
            0, 0, 0,
            180, 0, 54000,
            0, 0, 0,
            fill = "forwards", iterations = 1,
            timing_function = "cubic-bezier(.36,.75,.86,.62)",
            duration = 30000,
            delay = 15000
        )

        anim2 = rotate3dTranslate3d(qrbox,
            180, 0, 0,
            0, 0, 0,
            180, 0, 36000,
            0, 120, 0,
            fill = "forwards", iterations = 1,
            timing_function = "linear",
            duration = 20000,
            delay = 45000
        )
        anim3 = rotate3dTranslate3d(qrbox,
            180, 0, 0,
            0, 120, 0,
            180, 0, 54000,
            0, 120, 0,
            fill = "forwards", iterations = 3,
            timing_function = "linear",
            duration = 20000,
            delay = 65000
        )
        for (i = 0; i < faceElements.length; i++) {
            face = faceElements[i];
            setTimeout(() => {
                setOpacityWidthHeight(face, 0, 132, 132)
            }, 85000)
            setTimeout(() => {
                setOpacityWidthHeight(face, 1, 264, 264)
            }, 105000)
        }
        anim4 = rotate3dTranslate3d(qrbox,
            180, 0, 0,
            0, 120, 0,
            0, 0, 36000,
            0, 0, 0,
            fill = "forwards", iterations = 1,
            timing_function = "cubic-bezier(.41,.96,.79,1.01)",
            duration = 20000,
            delay = 125000
        )
    }

    function setOpacityWidthHeight(face, opacity, width, height) {
        // face.style.opacity = opacity;
        // face.style.width = `${width}px`
        // face.style.height = `${height}px`
        // face.style.backgroundImage = 'url(../static/images/qrblackhole.png)'
    }


    // === CALLS ===============================================================
    newScanButton.onclick = newScan;
    scanSuccessButton.onclick = scan_success;
    pumpyBoiButton.onclick = disco;
    scanFailButton.onclick = scanFail;

    // TODO ====================================================================
    function scanFail() {}
    function disco() {}
    function bounceBPM(bpm) {}
    function idle() {}
    // TODO ====================================================================

    // === MATRIX ==============================================================
    var canvas = document.getElementById('canv')

    var leftCanvas = document.getElementById('left_canv')
    var rightCanvas = document.getElementById('right_canv')

    // faceElements[0].transform = "rotateX(90deg)"

        //     anim4 = rotate3dTranslate3d(qrbox,
        //     0, 0, 0,
        //     0, 0, 0,
        //     0, 0, 3600,
        //     0, 0, 0,
        //     fill = "forwards", iterations = 1,
        //     timing_function = "cubic-bezier(.41,.96,.79,1.01)",
        //     duration = 20000,
        //     delay = 0
        // )

    function textDraw(canvas) {
        const ctx = canvas.getContext('2d');

        const w = canvas.width;
        const h = canvas.height;
        const cols = Math.floor(w / 1) + 1; // Col width 20px
        const ypos = Array(cols).fill(0);

        ctx.fillStyle = '#000';
        ctx.fillRect(0, 0, w, h);

        var reservedBox = [10, 10, 30, 14] // upper left x y, bottom right x y

        function matrix() {
            ctx.fillStyle = '#0008';
            ctx.fillRect(0, 0, w, h);

            ctx.fillStyle = '#0f0';
            ctx.font = '18pt monospace';

            ypos.forEach((y, ind) => {
                // var text = String(w)


                // if (ind >= reservedBox[1] && ind <= reservedBox[3]) {
                //     text = 'R'
                // }

                // Fill with which Whapp Chars
                var charArray = ['D', 'I', 'S', 'C', 'O']

                // const i = String.fromCharCode(Math.random() * charArray.length);
                const i = Math.floor(Math.random() * charArray.length)
                const text = String(charArray[i]);
                // const text = canvas.id;
                const x = ind * 20; // col
                ctx.fillText(text, x, y);
                // if (y > 200 + Math.random() * 50) ypos[ind] = 0;
                if (y>264) ypos[ind] = 0;
                else ypos[ind] = y + 20;
                // ypos[ind] = y + 20;
            });
        }
        setInterval(matrix, 50);
    }
    //
    // textDraw(leftCanvas);
    // textDraw(rightCanvas);

    // canvasElements.forEach(canvas => {
    //     textDraw(canvas);
    // })


</script>

</body>

</html>